$fontcolor:#666666;
@mixin title(){
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

@mixin h1(){
    width: 100%;
    margin: 0 auto;
    color: $fontcolor;
    text-align: left;
    font-weight: lighter;

}

body {
    margin: 0px;
}

#header {
    // position: fixed;
    width: 100%;
}

#profile{
    // background-color: blue;
    @include title;
    hr {
        width: 100%;
        margin: 0 auto;
    }
    // background-color: blue;
    h1 {
        @include h1;
    }
    p {
        width: 100%;
        // background-color: red;
        margin: 0 auto;
        margin-top: 20px;
        color: $fontcolor;
        text-align: left;
        // background-color: red;

        font-size: 18px;
    }
}

#details {
    @include title;
    h1 {
        @include h1;
    }

    ul {
        padding: 0;
        list-style: none;
        li {
            .timeline-contetnt {
                border-left: 1px #666666 solid;
                // background-color: blue;
            }
            p {
                margin-left: 10px;
            }
        }
    }

}

#skills {
    @include title;
    h1 {
        @include h1;
    }
}
