$fontcolor:#666666;
body {
    margin: 0px;
}

#header {
    // position: fixed;
    width: 100%;
}

#profile{
    // background-color: blue;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    hr {
        width: 100%;
        margin: 0 auto;
    }
    // background-color: blue;
    h1 {
        width: 100%;
        margin: 0 auto;
        color: $fontcolor;
        text-align: left;
        font-weight: lighter;
    }
    p {
        width: 100%;
        // background-color: red;
        margin: 0 auto;
        margin-top: 20px;
        color: $fontcolor;
        text-align: left;
        // background-color: red;

        font-size: 18px;
    }
}