body {
    margin: 0px;
}

header {
    height:  75px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    // background-color: red;
    nav {
        position: absolute;
        left: 108px;
        top: 4%;
        // background-color: blue;
        ul{
            list-style: none;
            color: #666666;
            display: flex;
            align-items: flex-start;
            padding: 0px;
            gap: 10%;
        }
    }
}